<h1>Bootstrap imported <app-favourite [is-fav]="post.isFavourite"></app-favourite></h1>

<button class="btn btn-primary" routerLink='/binding'>Binding</button> &nbsp;
<button class="btn btn-primary" routerLink='/contact-form'>Contact-Form (Template)</button>&nbsp;
<button class="btn btn-primary" routerLink='/pipe'>Pipe Example</button>&nbsp;
<button class="btn btn-primary" routerLink='/pipe-custom'>Custom Pipe Example</button>&nbsp;
<button class="btn btn-primary" routerLink='/date-pipe-form'>Form-Date and Pipes</button>&nbsp;
<button class="btn btn-primary" routerLink='/http-module'>HTTP sample</button>&nbsp;
<router-outlet></router-outlet>